@mixin btn($color) {
    display: inline-block;
    border: solid 1px $color;
    color: $color;
    cursor: pointer;
    text-decoration: none;
}

@mixin link($color) {
    text-decoration: none;
    color: $color;
}

@mixin flexCenter($justify-content: center) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}
