$color-primary: #000000;
$color-lighter-primary: #333333;
$color-secondary: #434343;
$color-tertiary: #eeeeee;
$color-background: white;
$color-link: #787878;
$color-border:#9a9a9a;
$color-lg-btn:#737373;
$color-sm-btn:#a8a8a8;
$color-error: red;
$color-footer: #323232;

$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 28px;

$line-height: 1.5em;
$white-space: pre-line;
